.geoDataResults {
    width: 100%;
    overflow-y: hidden;
    background-color: var(--bg);
    z-index: 10000;
    top: 16px;
    border-radius: 1.6rem 1.6rem 0 0;
    position: relative;

    .dashboard {
        padding: 16px;
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .8rem;
        align-items: flex-start;
        height: calc(30% - 1.6rem);

        .close-map-btn {
            padding: 4px 8px;
            background: none;
            border-radius: .8rem;
            border: 1px solid var(--contrast);
            cursor: pointer;
            color: var(--contrast);
            position: absolute;
            top: 16px;
            right: 16px;
        }

        .range-label {
            width: 75%;
            display: inline-block;
        }

        .checkbox-container {
            margin-top: 8px;
            width: 100%;

            .checkbox-container-filter {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                gap: 1.6rem;

                label {
                    margin-right: 8px
                }
            }
        }
    }



    .mapboxgl-ctrl-logo,
    .mapboxgl-ctrl-bottom-right {
        display: none;
    }

    .marker {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var(--main);
        opacity: .85;
        cursor: pointer;
        transition: all 100ms ease-in;
        outline: none;
        border: none;
    }

    .marker-clicked {
        width: 35px;
        height: 35px;
        opacity: 1;
        border: 8px solid var(--contrast);
    }




    .selected-toilet-card {
        width: 100%;
        position: absolute;
        bottom: 4px;
        padding: 8px;
    }


    .close-selected-toilets {
        position: absolute;
        top: 10px;
        right: 8px;
        border: none;
        border-radius: 8px;
        background: none;
        padding: .4rem .8rem;
        cursor: pointer;
    }
}