.search-results {
    width: 100%;
    background-color: var(--bg);
    position: fixed;
    z-index: 10;
    inset: 120px 0 0 0;
    border-radius: 1.6rem 1.6rem 0 0;
    overflow-y: scroll;

    .search-results__data {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: flex-start;
        position: relative;

        .close-svg {
            position: fixed;
            top: 12.5rem;
            right: .4rem;
            padding: .8rem;
            cursor: pointer;
            z-index: 100;
        }

        .search-results__data--filter {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .4rem;

            .filter-input {
                display: flex;
                gap: .8rem;

                .filter-input--item{
                    display: flex;
                    gap: .4rem;
                }
            }
        }
    }
}

.toilet{
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

