.item-result{
    border-radius: .8rem;
    background-color: var(--white);box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .item-result-infos{
        display: flex;
        gap: .8rem;
        justify-content: space-between;

        .item-result-infos--item{
            display: flex;
            gap: .4rem;
            align-items: center;
            width: 33%;
            
            img{
                min-width: 20px
            }
        }
    }

    .disabled{
        opacity: .5;
    }

    
}