.main-search {
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1.6rem 1.6rem 0 0;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .search-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;

        .search-bar {
            width: 100%;
            display: flex;
            justify-content: center;

            .search-input {
                width: 80%;
                border-radius: .8rem 0 0 .8rem;
                outline: none;
                border: 2px solid var(--contrast);
                padding: .7rem;
                height: 4.6rem
            }

            .button--search {
                height: 4.6rem;
                width: 20%
            }
        }

        .button--main {
            height: 4.6rem;
            width: 100%
        }
    }

}