.no-toilets{
    background-color: white;
    position:absolute;
    inset: 30% 10%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    text-align: center;
}