:root {
  font-size: 10px;
  --main: #19A3A3;
  --contrast: #FFA434;
  --text: #444444;
  --grey: #6a6a6a;
  --white: #fff;
  --bg: #FFFCF8;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: "Geomanist", Helvetica, sans-serif;
  font-weight: 300;
}


body {
  background-color: var(--main);
}

.white {
  color: var(--white);
}

.contrast {
  color: var(--contrast)
}

.disabled {
  color: var(--grey);
  opacity: .5;
}


/* FONTS */
@font-face {
  font-family: "Geomanist";
  src: url("./assets/Geomanist-Regular.ttf") format("ttf"),
    url("./assets/geomanist-regular-webfont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Geomanist";
  src: url("./assets/Geomanist-Bold.ttf") format("ttf"),
    url("./assets/geomanist-bold-webfont.woff2") format("woff2");
  font-weight: 500;
}

/* PERS. CLASSES */
.title {
  font-family: "Geomanist";
  font-weight: 500;
  font-size: clamp(1.6rem, 5vw, 2.1rem);
  line-height: 160%;
}

.body {
  font-family: "Geomanist";
  font-weight: 300;
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  line-height: 160%;
}

.sub {
  font-family: "Geomanist";
  font-weight: 500;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  line-height: 100%;
}

.body-min {
  font-family: "Geomanist";
  font-weight: 300;
  font-size: clamp(1.2rem, 4vw, 1.6rem);
  line-height: 120%;
}

input[type="text"]
{
    font-size:clamp(1.2rem, 5vw, 1.6rem);
}

/* CONTAINERS */
.container {
  padding: 2.4rem 1.6rem;
}

/* BUTTONS */
.button {
  font-family: "Geomanist";
  font-weight: 500;
  border: none;
  color: var(--white);
}

.button--search {
  background-color: var(--contrast);
  padding: .8rem;
  border-radius: 0 .8rem .8rem 0;
}

.button--main {
  background-color: var(--main);
  padding: .8rem 1.6rem;
  border-radius: .8rem;
}

.button-link {
  color: var(--contrast);
  text-decoration: underline;
  background: none;
  border: none;
  display: block;
  cursor: pointer;
}


/* LOGO */
.logo {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  transform: translateX(-50%)
}

.illustration {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%)
}